main {
    max-width: 85%;
    margin: 0 auto 30px;
    background: white; 
    
    .section1 {
        width: 80%;
        margin: 0 auto;

        .content {
            span {
                display: block;
                padding: 70px 0px;
                position: relative;

                &::before, &::after {
                    content: "";
                    background: $grey1;
                    position: absolute;
                    height: 1px;
                    width: 37%;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &::before {
                    left: 0;
                }
                &::after {
                    right: 0;
                }
            }
            h2 {
                @include title;
                font-size: 3rem;
            }
            p {
                font-style: italic;
                font-size: 0.8rem;
                line-height: 35px;
                width: 60%;
                margin: 30px auto;
            }
        }
        .img {
            height: 500px;
            background: url("/images/pic01.jpg") center/cover;   
        }
        button {
            margin: 45px auto 65px;
        }
    }
    .section2 {
        display: grid;
        grid-template-columns: 50% 50%;
        border-top: 1px solid $grey1;

        .left-content {
            padding: 0 10%;
            span {
                display: block;
                padding: 40px 0 20px;
            }
            h3 {
                @include title
            }
            .img-left {
                height: 260px;
                background: url("/images/pic02.jpg") center/cover;
                margin: 30px auto;
            }
            p {
                font-size: 0.8rem;
                line-height: 30px;
                text-align: left;
            }
            button {
                margin: 20px auto 40px;
            }
        }
        .right-content {
            border-left: 1px solid $grey1;
            padding: 0 10%;
            span {
                display: block;
                padding: 40px 0 20px;
            }
            h3 {
                @include title
            }
            .img-right {
                height: 260px;
                background: url("/images/pic03.jpg") center/cover;
                margin: 30px auto;
            }
            p {
                font-size: 0.8rem;
                line-height: 30px;
                text-align: left;
            }
            button {
                margin: 20px auto 40px;
            }
        }
    }
}